/* Responsividade para dispositivos com largura máxima de 991px */
@media (max-width: 991px) {
    .banner h2, .banner h3 {
        font-size: 32px;
    }

    .banner h1 {
        font-size: 56px;
    }

    .btn-prin {
        font-size: 18px;
        padding: 12px 25px;
        width: 300px;
        height: auto;
    }
}

/* Responsividade para dispositivos com largura máxima de 767px */
@media (max-width: 767px) {
    .btn-prin {
        width: 420px ;
        height: 75px ;
        font-size: 22px ;
    }

    .header h2 {
        font-size: 25px;
        margin: 5px;
    }

    .banner h2, .banner h3 {
        font-size: 45px;
    }
    
    .banner {
        height: auto;
    }

    .banner h1 {
        font-size: 150px ;
        margin-top: -4px;
        margin-bottom: -4px;
    }

    .servicos {
        height: auto;
        display: flex;
        width: auto;
    }

    .servicos .quad {
        margin-top: -50px;
    }

    .servicos h1 {
        font-size: 60px;
        color: var(--color-green);
        text-align: center;
    }

    .servicos p {
        font-size: 25px;
    }
    
    .servicos .quad {
        width: 140px;
        margin-top: 45px;
    }
    
    .servicos .minsa {
        margin-left: 80px;
    }

    .servicos-2 h1 {
        color: #000000;
        font-size: 60px;
        margin-top: 30px;
        text-align: center;
    }

    .servicos-2 {
        height: auto;
        width: auto;
    }

    .servicos-2 .col-3 {
        margin-left: -30px;
    }

    .section {
        margin: 0 auto;
    }
    
    .serv {
        display: flex;
        flex-direction: column;
    }

    .servicos-2 {
        height: auto;
    }
    
    .servicos-2 .quad-man {
        margin-top: 50px;
        margin-bottom: 45px;
        width: 350px ;
        height: 350px ;
    }

    .servicos-2 .quad-man img {
        margin-top: 15px;
        width: 350px ;
        height: 271px;
        border-radius: 0px 95px;
    }

    .servicos-2 .quad-man h1 {
        font-size: 30px ;
        margin-top: 5px;
        margin-right: 80px;
    }

    .buton-sec {
        margin-left: 15px;
        width: 230px;
        height: 40px;
        font-size: 22px;
    }

    .processo h2 {
        font-size: 45px;
    }

    .processo h1 {
        font-size: 30px ;
        width: auto;
    }

    .processo {
        height: auto;
    }
    
    .processo .quad-man {
        margin-bottom: 10px;
        margin-top: 7px;
        background: rgb(56,226,150);
        background: linear-gradient(90deg, rgba(56,226,150,1) 0%, rgba(17,142,86,1) 100%) ;
        width: 400px ;
        height: 300px ;
        border-radius: 10px 100px 10px 10px ;
        margin: 0 ;
    }
    
    .processo .quad-man p {
        color: var(--color-background);
        font-size: 25px ;
        width: auto ;
    }

    .sobre-nos {
        height: auto;
    }

    .sobre-nos h1 {
        font-size: 45px;
    }

    .sobre-nos p {
        font-size: 25px;
        text-align: justify;
    }

    .feedback {
        height: auto;
    }

    .feedback h1 {
        font-size: 45px;
    }

    .feedback-card {
        border: none;
        background-color: #f8f9fa;
        max-width: 400px ;
        margin: auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    .feedback-card h5 {
        font-size: 30px ;
    }

    .feedback-card p {
        font-size: 25px ;
    }

    .contato {
        height: auto;
        width: auto;
    }

    .contato h1 {
        font-size: 40px;
    }
    
    .contato p {
        font-size: 25px;
    }

    form {
        width: 400px;
        border-radius: 10px 50px;
        margin-top: 25px;
    }

    input {
        width: 360px;
        height: 45px;
    }

    .label {
        font-size: 25px ;
    }

    .button {
        padding-left: 20px;
    }

    .footer {
        width: auto;
        height: auto;
    }
    
    .footer a {
        font-size: 18px ;
    }

    .footer h5 {
        font-size: 25px ;
    }

    .footer p {
        font-size: 20px ;
    }
}

/* Responsividade para dispositivos com largura máxima de 575px */
@media (max-width: 575px) {
    .btn-prin {
        width: 320px;
        height: 75px;
        font-size: 18px ;
    }

    .header h2 {
        font-size: 15px;
        margin: 5px;
    }

    .banner h2, .banner h3 {
        font-size: 30px;
    }
    
    .banner {
        height: auto;
    }

    .banner h1 {
        font-size: 85px ;
        margin-top: -4px;
        margin-bottom: -4px;
    }

    .servicos {
        height: auto;
        display: flex;
    }

    .servicos .quad {
        margin-top: -50px;
    }

    .servicos h1 {
        font-size: 24px;
        color: var(--color-green);
        width: 180px;
        margin-top: -50px;
    }

    .servicos p {
        font-size: 14px;
        width: 180px;
    }
    
    .servicos .quad {
        width: 80px;
        margin: 50px;
    }
    
    .servicos .minsa {
        margin-left: 80px;
    }

    .servicos-2 h1 {
        color: #000000;
        font-size: 18px;
        margin-top: 30px;
        text-align: center;
    }

    .servicos-2 {
        height: auto;
    }

    .servicos-2 .col-3 {
        margin-left: -30px;
    }

    .section {
        margin: 0 auto;
    }
    
    .serv {
        display: flex;
        flex-direction: column;
    }

    .servicos-2 {
        height: auto;
    }
    
    .servicos-2 .quad-man {
        margin-top: 50px;
        margin-bottom: 45px;
        background-color: var(--color-green);
        width: 250px;
        height: 250px;
        border-radius: 10px 100px;
    }

    .servicos-2 .quad-man img {
        margin-top: 15px;
        width: 250px;
        border-radius: 0px 95px;
    }

    .servicos-2 .quad-man h1 {
        color: #0F0F0F;
        font-size: 18px;
        margin-top: 5px;
    }
    
    .servicos-2 .quad-man p {
        color: #0F0F0F;
        font-size: 14px;
    }

    .processo h1 {
        font-size: 18px ;
        width: 280px;
        margin-top: 50px ;
    }
    
    .processo {
        height: 50vh;
    }
    
    .processo .quad-man {
        margin-top: 35px;
        margin-bottom: 10px;
        margin-top: 7px;
        background-color: var(--color-green) ;
        width: 320px;
        height: 320px;
        border-radius: 10px 100px;
    }
    
    .processo .quad-man p {
        color: #0F0F0F ;
        font-size: 16px ;
        width: 280px ;
    }
    
    .sobre-nos {
        height: auto;
    }

    .sobre-nos h1 {
        font-size: 18px;
    }

    .sobre-nos p {
        font-size: 14px;
        text-align: justify;
    }

    .feedback {
        height: auto;
    }

    .feedback h1 {
        font-size: 20px;
    }

    .feedback-card {
        border: none;
        background-color: #f8f9fa;
        max-width: 400px ;
        margin: auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    .feedback-card h5 {
        font-size: 18px ;
    }

    .feedback-card p {
        font-size: 16px ;
    }

    .contato {
        height: auto;
        width: auto;
    }

    .contato h1 {
        font-size: 25px;
    }
    
    .contato p {
        font-size: 16px;
    }

    form {
        width: 300px;
        border-radius: 10px


    }
      input {
        width: 260px;
      }

      .button {
        padding-left: 20px;
      }
    
}